<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly"
    tools:ignore="Instantiatable">

    <application
        android:name=".app.IDEApplication"
        ...>
        <activity
            android:name=".opencode.OpenCodeChatActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidIDE" />
    </application>
</manifest>
